VITE_SUPABASE_URL=your_supabase_url
VITE_SUPABASE_ANON_KEY=your_supabase_anon_key
VITE_FIREBASE_API_KEY=your_firebase_api_key
VITE_FIREBASE_AUTH_DOMAIN=utmscrape.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=utmscrape
VITE_CONFIG_API_URL=https://manage-configuration-839290050638.us-central1.run.app
